.vscode/**
.gitignore
.vscodeignore
.npm.stamp
Makefile
build_config/**
components/**
src/**
test/**
tsconfig.json
**/*.map
**/*.ts
*.vsix
node_modules/**/*.md
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/.github/**
