.vscode/**
.gitignore
.vscodeignore
.npm.stamp
Makefile
dist/**
build_config/**
media/mruby-*/
!media/mruby-3.4.0/**
**/*.map
**/.eslintrc*
*.vsix
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/.github/**
